<section class="py-5">
  <div class="container mb-4">
    <h1>Contact</h1>
    <p class="fs-5">
      For inquiries about the blue product, reach out securely. Total discretion. Purity guaranteed. This isn’t just chemistry… it’s art. Contact only if you know what you're after.
    </p>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm border border-secondary rounded-4 bg-light-subtle">
          <div class="card-body p-4">
            <form>
              <div class="mb-3 row align-items-center">
                <label for="name" class="col-sm-4 col-form-label fw-bold">Dealer E-mail</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="name" placeholder="whoisww@gmail.com">
                </div>
              </div>
              <div class="mb-3 row align-items-center">
                <label for="message" class="col-sm-4 col-form-label fw-bold">Your Money</label>
                <div class="col-sm-8">
                  <textarea class="form-control bg-light" id="message" rows="5" placeholder="Please enter your money here... I mean message :D"></textarea>
                </div>
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary" style="background-image: url(''); background-size: cover; background-position: center; color: white; border: none;">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
