<hr />
<div class="container py-5">
    <div class="row align-items-top mb-5">
        <div class="col-md-8">
            <h1><strong>From Chalkboards </strong><span class="text-secondary">to Cartels</span></h1>

            <p class="fs-4">
                "He wasn’t born a legend. He was forged in silence, science, and desperation. Behind the glasses and the
                hat is a man who traded fear for control, weakness for precision. Heisenberg doesn’t knock—he explodes
                through the door of doubt. He taught the world that chemistry isn’t just about atoms and bonds, but
                about transformation. Not just matter into energy, but a man into myth. In his world, you're either the
                equation… or you're the result."
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img class="rounded-circle" style="width: 400px; height: 400px; object-fit: cover" src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExdHYyd2xlNTZ4dHlkOW1yajYwMHZ2M2pzM2F6aHNoa3NvZmp4c3ZweSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/GXqLGxgpE2tfq/giphy.gif" />
        </div>
    </div>
</div>