<hr />
<div class="container py-5">
    <div class="row aline-items-top">
        <div class="col-md-4 text-center">
            <img class="rounded-circle" style="width: 400px; height: 400px; object-fit: cover" src="assets/img/2.jpg" />
        </div>
        <div class="col-md-8">
            <h1><strong>Input = Output...</strong><span class="text-secondary"> with a Little Alchemy</span></h1>

            <p class="fs-4">
                "Who needs a meth lab when you’ve got a mechanical keyboard and dark mode? Each keystroke is a step
                deeper into the blue — not crystals, but clean, precise code. I’m not breaking bad, I’m breaking bugs.
                Ctrl + C is my cartel. Ctrl + V, my distribution chain. Coffee is my cartel leader. Deadlines are my
                DEA. And believe me, I didn’t choose this life. I debugged into it."
            </p>
        </div>
    </div>
</div>